<h1>Películas</h1>

<div class="new-user-button" style="margin-left: 24px;">
	<button mat-stroked-button color="primary" (click)="openDialog('Nuevo',null)">
		<mat-icon>add_circle</mat-icon>
		Crear nueva película
	</button>
</div>
<div class="container-table mat-elevation-z8" style="overflow-x: auto;">
	<table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">

        
        <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef class="cell-style"> Título </th>
			<td mat-cell *matCellDef="let element"> {{element.titulo }} </td>
        </ng-container>
        
        <ng-container matColumnDef="anio">
            <th mat-header-cell *matHeaderCellDef style="min-width: 200px;"> Año </th>
            <td mat-cell *matCellDef="let element"> {{element.anio}} </td>
        </ng-container>

		<ng-container matColumnDef="descripcion">
			<th mat-header-cell *matHeaderCellDef style="min-width: 150px;"> Descripcion </th>
			<td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
		</ng-container>

		<ng-container matColumnDef="reparto">
			<th mat-header-cell *matHeaderCellDef style="min-width: 150px;"> Reparto </th>
			<td mat-cell *matCellDef="let element"> {{element.actoresString}} </td>
		</ng-container>

		<ng-container matColumnDef="action">
			<th mat-header-cell *matHeaderCellDef class="action"> Acciones </th>
			<td mat-cell *matCellDef="let element">
				<button mat-icon-button aria-label="Editar informacion de usuario"
					matTooltip="Editar informacion de usuario" (click)="openDialog('Editar',element)">
					<mat-icon>perm_identity</mat-icon>
				</button>
				<button mat-icon-button aria-label="Desactivar usuario" matTooltip="Desactivar usuario"
					(click)="openDialog('Eliminar',element)">
					<mat-icon>delete</mat-icon>
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	<div>
		<mat-paginator #paginator2 [pageSizeOptions]="[10, 20, 30, 40 , 50, 60, 70 , 80]" showFirstLastButtons sticky>
		</mat-paginator>
	</div>
</div>