.sidenav-container {
    height: 100%;
  }

  .sidenav {
    width: 320px;
  }
  .mat-list-item-content{
    padding: 15px;
  }
  .sidenav .mat-toolbar {
    background: inherit;
  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }


.no-records {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  text-align: center;
  padding: 24px;
}

.active {
  background-color: #00bcd4;
  color: white;

}

.mat-list-item:focus {
  background-color: #00bcd4;
  color: white;
}

.mat-list-item:hover {
  background-color: #00bcd4;
  color: white;
}
